*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    /* border: 01px solid red; */
    margin:auto;
    height: 700px;
    width: 70%;
    display: flex;
    background-color:greenyellow;
    /* height: 800px; */
}
.nav-bar{
    /* border: 02px solid green; */
    width: 30%;
}
.nav-bar nav ul li{
list-style-type: none;
background-color:white;
margin:10px;
color: purple;
font-size:20px;
font-weight:800;
padding:10px 0px 10px 10px;
border-right:30px solid black;
}
.nav-bar nav ul{
    padding: 70px 10px 0px;
}
.section{
    padding:30px 20px 0px; 
    /* border: 02px solid green; */
    width: 65%;
}
.section h1{
    font-size: 80px;
    margin-bottom:30px;
    color:red;
}
.section p{
    color: red;
    font-size: 30px;
    font-weight:500;
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;   
}
.under-line{
    border-bottom: 1px red solid;
    margin-bottom: 20px;
}